@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* estilização geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    height: 100vh;
    background-color: #E1DACA;
    background-image: url('../img/background.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.interface {
    max-width: 1280px;
    margin: 0 auto; /* pq vai ficar centralizada na tela */
}

.flex {
    display: flex;
}

.btn-contato button {
    background-color:  #5D544D;
    color:#EBEBEB;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 40px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    background-color: #ffc5d4;
    color: #5D544D;
    transform: scale(1.1);
    box-shadow: 0px 0px 8px #ffc5d6af;
}



/* estilização do cabeçalho */
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #CB6F84;
    padding: 10px 2%;
}

header > .interface { /*os outros elementos da interface nao precisam de display flex, por isso chamei a classe que esta diretamente dentro da classe header, ou seja so vai chamar os elementos que se chamam interface DIRETAMENTE dentro do header*/
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 8rem;
    height: 4rem;
}

header a {
    color:  #5D544D;
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop  ul li {
    background-color: #EBEBEB;
    display: inline-block;
    font-weight: 500;
    margin: 2px 10px;
    padding: 10px 40px;
    border-radius: 30px;
    transition: .2s;
}

header  nav.menu-desktop ul li:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}



/* estilização do menu mobile */
.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i {
    color: #ffc5d4;
    font-size: 40px;
    margin-left: 12px;
}

.menu-mobile {
    background-color: #43403d;
    height: 1000vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 0%;
    overflow: hidden;
    transition: 0.2s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar-menu {
    padding: 20px 85%;
}

.menu-mobile .btn-fechar-menu i {
    color: #ffc5d4;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-mobile nav ul li a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #CB6F84;
    color: #EBEBEB;
}

.overlay-menu {
    background-color: #000000be;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 888888;
    display: none;
}



/* estilização do início/topo do site */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site p {
    color:#5D544D;
}

.topo-do-site h1{
    color:#5D544D;
    font-size: 42px;
    margin-bottom: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #CB6F84;
}

.topo-do-site .img-topo-site img {
    margin-top: 7rem;
    margin-left: 2rem;
    border: 5px solid #5D544D;
}



/* estilização do sobre mim */
section.sobre {
    background-color: #5D544D;
    background-image: url('../img/imgsobre.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 30px #E1DACA;
    margin-top: 10rem;
    padding: 7rem 4%;
}

section.sobre .flex {
    align-items: center;
}

.sobre .txt-sobre {
    color: #E1DACA;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    color: #CB6F84;
}

.sobre .txt-sobre h3 {
    text-align: justify;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 2rem;
}

.sobre .txt-sobre p {
    text-align: justify;
    font-weight: 300;
    font-size: 24px;

    margin-bottom: 3rem;
}


/* estilização dos meus trabalhos */
section.portfolio {
    padding: 80px 4%;
}

section.portfolio .container-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.portfolio h2.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #5D544D;
    color: #EBEBEB;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #5D544D;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 4px solid #291D21;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    transform: scale(1.02);
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #291D21;
}

.card-list .card-link .card-title {
    color: #EBEBEB;
    text-align: center;
    margin: 4px;
}

.card-list .card-link .badge {
    color: #EBEBEB;
    font-weight: 300;
    justify-content: center;
    text-align: justify;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 16.5rem;
    color: #E1DACA;
    background: none;
    border: 2px solid #E1DACA;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #EBEBEB;
    background: #CB6F84;
}

.card-wrapper .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    opacity: 0.5;
    background: #CB6F84;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swipe-slide-button {
    color: #CB6F84;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }
    .card-wrapper .swipe-slide-button {
        display: none;
    }
}



/* estilização das skills */
section.skills {
    padding: 10px 4%;
}

section.skills .container-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.skills h2.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #5D544D;
    color: #EBEBEB;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #5D544D;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 6px solid #291D21;
    transition: 0.3s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    transform: scale(1.02);
}

.card-list .card-link .card-image1 {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .card-title {
    color: #EBEBEB;
    text-align: center;
    margin: 4px;
}

.card-list .card-link .badge {
    color: #EBEBEB;
    font-weight: 300;
    justify-content: center;
    text-align: justify;
}

.card-wrapper .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    opacity: 0.5;
    background: #CB6F84;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swipe-slide-button {
    color: #CB6F84;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }
    .card-wrapper .swipe-slide-button {
        display: none;
    }
}



/* estilização das barras de progressão - skills */
section.especialidades {
    padding: 20px 4%;
}

section.especialidades .flex {
    color: #5D544D;
    width: 80rem;
    gap: 10rem;
    justify-content: center;
}

.progress-bar {
    display: flex;
    flex-direction: column;
}

.progress-bar .container-bar .skill-box {
    margin: 20px 0;
    width: 650px;
    height: 120px;
}

.progress-bar .container-bar .skill-box .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
}

.skill-box {
    display: none;
}

.skill-box .skill-bar {
    height: 12px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(68, 0, 0, 0.1);
}

.skill-bar .skill-per {
    position: relative;
    background-color: #CB6F84;
    display: block;
    height: 100%;
    width: 80%;
    border-radius: 6px;
    animation: progress 0.4s ease-in-out forwards;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.tooltip {
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    margin-left: 38.5rem;
    margin-top: 5px;
}

.skill-per.css {
    width: 70%;
    animation-delay: 0.1s;
}

.skill-per.javascript {
    width: 40%;
    animation-delay: 0.2s;
}

.skill-per.python {
    width: 20%;
    animation-delay: 0.3s;
}



/* estilização do contato */
section.contato {
    background-color: #E1DACA;
    padding: 80px 4%;
}

section.contato .interface {
    margin: 0 auto;
    max-width: 230rem;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.form-contato {
    width: 800px;
}

.text-cont {
    margin-bottom: 35px;
    background-color: #5D544D;
    color: #EBEBEB;
    padding: 15px;
    border-radius: 45px;
}

h2.titulo-cont {
    width: 400px;
    margin-left: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: #CB6F84;
    border-radius: 25px;
    padding: 25px 45px;
    padding-bottom: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: #EBEBEB;
    border: 0;
    outline: 0;
    padding: 15px;
    border-radius: 15px;
    color: #291D21;
    font-size: 18px;
}

form textarea {
    resize: none;
    height: 180px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: right;
}

form .btn-enviar button {
    background-color: #5D544D;
    border: 0;
    border-radius: 15px;
    padding: 10px 4%;
    color: #EBEBEB;
    font-size: x-large;
    font-weight: 600;
    width: 130px;
    cursor: pointer;
    transition: 0.2s;
}

form .btn-enviar button:hover {
    transform: scale(1.1);
    background-color: #43403d;

}

.success {
    text-align: center;
    color: #ffffff;
}

.error {
    text-align: center;
    color: #ffffff;
    background-color: rgb(141, 0, 0);
}

.info-contato {
    width: 750px;
    background-color: #5D544D;
    border-radius: 95px;
    padding: 45px 65px;
}

.loc-top {
    display: flex;
    flex-direction: row;
    height: 80px;
}

.loc-icon {
    width: 85px;
    height: 85px;
}

.loc-text {
    display: flex;
    flex-direction: column;
    font-size:larger;
    color: #E1DACA;
}

.loc-text h3 {
    width: 400px;
    font-weight: 700;
}

.loc-text h4 {
    width: 400px;
    font-weight: 400;
}

.loc-img iframe {
    width: 570px;
    margin: 5px 0;
    border-radius: 45px;
}

.btn-social {
    background-color: #291D21;
    margin-top: 20px;
    border-radius: 100px;
    padding: 35px 85px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.social-link button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    background-color: #EBEBEB;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.2s;
}

.btn-social a {
    color: #EBEBEB;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
}

/* estilização do footer */
footer {
    padding: 50px 4%;
    color: #5D544D;
    background-color: #d1c8b3aa;
    font-size: large;
    box-shadow: 0 0 40px 10px #ffffff25;
}

footer .footer-copy {
    text-align: center;
}




@media screen and (max-width: 1000px){

    /* geral */
    body {
        height: 100vh;
        background-color: #E1DACA;
        background-image: url('../img/backgroundmobile.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .interface {
        max-width: 1000px;
        margin: 0 auto; /* pq vai ficar centralizada na tela */
    }
    

    /* cabeçalho */
    .menu-desktop, .btn-contato {
        display: none;
    }
    .header {
        background-color: #E1DACA;
    }
    .btn-abrir-menu{
        display: block;
    }

    

    /* topo do site */
    .flex {
        flex-direction: column;
    }
    .topo-do-site .flex {
        margin-top: 100px;
        flex-direction: column-reverse;
    }
    section.topo-do-site .flex {
        text-align: center;
        justify-content: center;
        gap: 0;
    }
    .topo-do-site .txt-topo-site p {
        font-size: 19px;
        font-weight: 500;
    }
    .topo-do-site h1{
        color:#5D544D;
        font-size: 40px;
        margin-bottom: 10px;
    } 
    .topo-do-site .img-topo-site img {
        margin-top: 3rem;
        margin-right: 2rem;
        height: 360px;
        border: 5px solid #5D544D;
    }


    /* sobre mim */
    section.sobre {
        background-color: #5D544D;
        background-image: url('../img/imgsobremobile.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 30px #E1DACA;
        margin-top: 10rem;
        padding: 7rem 4%;
    }
    .sobre .txt-sobre {
        padding: 20px 4%;
    }
    .sobre .txt-sobre h2 {
        font-size: 20px;
    }
    .sobre .txt-sobre h3 {
        font-size: 18px;
        margin-bottom: 2rem;
    }
    .sobre .txt-sobre p {
        font-size: 18px;
        margin-bottom: 2rem;
    }


    /* portfólio e skills */
    section.portfolio .interface{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.portfolio h2 {
        width: 420px;
    /* nao consigo deixar para se ajustar na tela */
    }
    .card-wrapper {
        max-width: 350px;
        margin: 0 10px 25px;
    }
    .card-wrapper .swipe-slide-button {
        display: none;
    }
    .card-list .card-link .card-button {
        margin-left: 15.5rem;
    }
    .especialidades {
        display: flex;
        justify-content: center;
    }
    section.especialidades .flex {
        width: fit-content;
        gap: 10rem;
    }
    .progress-bar {
        align-items: center;
    }
    .progress-bar .container-bar .skill-box {
        width: 420px;
    }
    .tooltip {
        position: absolute;
        font-size: 15px;
        font-weight: 600;
        margin-left: 24rem;
        margin-top: 5px;
    }



    /* contato */
    .contato .interface {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    .form-contato h2.titulo-cont{
        display: flex;
        text-align: center;
        align-items: center;
        width: 320px;
    }
    section.contato .interface {
        margin: 0 auto;
        max-width: 0;
        display: flex;
        justify-content: center;
    }
    .form-contato {
        width: 350px;
    }
    form {
        padding: 25px 20px;
        padding-bottom: 20px;
    }
    form input, form textarea {
        padding: 18px;
        font-size: 16px;
    }
    form .btn-enviar button {
        font-size: larger;
    }
    .info-contato {
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 45px;
        padding: 35px 45px;
    }
    .loc-top {
        width: 390px;
        height: 60px;
        display: flex;
        justify-content: space-between;
    } 
    .loc-icon img {
        width: 50px;
        height: 50px;
    }
    .loc-text {
        font-size: large;
        margin-left: 15px;
    }
    .loc-img iframe {
        width: 385px;
        margin: 8px 0;
        border-radius: 25px;
    }
    .btn-social {
        background-color: #291D21;
        margin-top: 10px;
        border-radius: 30px;
        padding: 18px 38px;
        gap: 5px;
    }
    .social-link button {
        width: 40px;
        height: 40px;
    }
    .btn-social a {
        font-size: 18px;
    }

    
    /* footer */
    footer {
        font-size: medium;
    }
    footer .footer-copy p {
        text-align: center;
    }
}
