body {
    font-family: Arial, sans-serif; /* Define a fonte padrão da página */
    margin: 0; /* Remove a margem padrão do corpo */
    padding: 0; /* Remove o padding padrão do corpo */
    font-family: Roboto;
    background-color: #164095; /* Define a cor de fundo da página */
}

/* Estiliza a barra lateral (sidebar) */
.sidebar {
    display: flex; /* Usa Flexbox para layout interno */
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    width: min-content; /* Define a largura mínima necessária para o conteúdo */
    height: 100vh; /* Ocupa toda a altura da viewport */
    position: fixed; /* Fixa o menu na tela, independentemente do scroll */
    font-family: Roboto;
    background-color: #ffffff; /* Define a cor de fundo da barra lateral */
    color: rgb(0, 0, 0); /* Define a cor do texto */
    padding: 22px; /* Adiciona espaçamento interno ao redor do conteúdo */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao lado da barra lateral para destaque */
}

/* Estiliza a imagem de login dentro da barra lateral */
.sidebar h2 {
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o título */
    margin-top: 2rem; /* Adiciona uma margem superior */
}

/* Estiliza a lista de itens na barra lateral */
.sidebar ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão da lista */
    display: flex; /* Usa Flexbox para layout interno */
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: left; /* Centraliza os itens verticalmente */
    align-items: left; /* Centraliza os itens horizontalmente */
    height: 15rem; /* Define a altura da lista */
}

/* Estiliza cada item da lista na barra lateral */
.sidebar ul li {
    display: flex;
    flex-direction: row;
    margin: 15px 0; /* Adiciona margem vertical entre os itens */
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o item */
}

/* Estiliza as imagens dentro dos itens da lista */
.sidebar ul li {
    transition: transform 0.6s ease; /* Adiciona uma transição suave ao transformar a imagem */
}

/* Adiciona efeito de zoom nas imagens ao passar o mouse sobre elas */
.sidebar ul li:hover {
    transform: scale(1.2); /* Aumenta a escala da imagem para 120% */
}

.sidebar li p {
    display: flex;
    margin-left: 1rem;
}

.sidebar li img {
    display: flex;
    margin-top: 0.7rem;
}

.content {
    display: flex;
    flex-direction: row;
    margin-left: 12.2rem; /* Margem esquerda para fazer espaço para a barra lateral */
    flex: 1; /* Permite que o contêiner ocupe o espaço restante */
    color: #fff; /* Define a cor do texto */
    background-color: #123A8C;
}

.home {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: 10rem;
    flex-direction: row;
    justify-content: left;
}

.home img {
    opacity: 0.6;
}

.vertical-bar {
    width: 2px; /* Largura da barra vertical */
    height: 22px; /* Altura da barra vertical */
    background-color: white; /* Cor da barra vertical */
    margin: 0 10px; /* Espaçamento ao redor da barra */
    transform: rotate(28deg); /* Deita a barra */
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vh;
    margin-left: 70rem;
    margin-bottom: 0.4rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    cursor: pointer;
}

.box {
    font-size: 2rem;
    font-family: Roboto,'Open Sans';
    color: #A8A6A6;
}

.usercontainer {
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    border-radius: 0.1rem;
    background-color: #fff;
}

.user-pic img {
    margin-left: 2rem;
}

.user-info {
    width: 500px;
    height: 180px;
    line-height: 0.3rem;
    font-size: smaller;
    margin-left: 1rem;
}

.user-info h2 {
    margin-bottom: 2rem;
}

.user-info h4 {
    color:#164095;
}

.config {
    margin-left: 3.5rem;
    margin-bottom: 9.5rem;
}

.container {
    width: 800px;
    margin: 20px auto;
}

.tab {
    background-color: white;
    color: black;
    border-radius: 0.3rem;
    padding: 6px;
    cursor: pointer;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.tab p {
    margin-left: 1rem;
}
.tab img {
    margin-left: 32rem;
}

.tabcont {
    display: none; /* Inicialmente escondido */
    padding: 60px;
    color: #817A7A;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 0.2rem;
    border: 15px solid #ffffff;;
    border-bottom: 55px solid #ffffff;
    margin-top: 5px;
}

.icon-seta {
    transition: transform 0.5s; /* Transição suave para a rotação */
}

.rotate {
    transform: rotate(90deg); /* Gira 360 graus */
}
