body {
    width: 100vw;
    display: flex;
    background-color: #164095;
}

/* Header */

/* Side Bar */


header {
    width: 15%;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    gap: 1.5rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar h2 {
    cursor: pointer;
    margin-top: 2rem;
}

/* Estiliza a lista de itens na barra lateral */
.sidebar ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0;
}

/* Estiliza cada item da lista na barra lateral */
.sidebar ul li {
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    transition: transform 0.6s ease;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar ul li:hover {
    transform: scale(1.2);
}

.home-icon{
    display: none;
}
/* Fim SideBar */

/* Fim Header */


/* Main */

main {
    width: 85%;
    height: 100vh;
}

/* Barra Superior */

.content {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    border-bottom: 2px solid #fff;
    padding-left: 5rem;
    gap: 1rem;
    color: #fff;
    background-color: #123A8C;
}

.content img {
    opacity: 0.6;
}

.content a {
    color: #fff;
}

.vertical-bar {
    width: 2px;
    height: 22px;
    background-color: #fff;
    margin: 0 10px;
    transform: rotate(28deg);
}

/* Fim Barra superior */

/* Conteúdo da página */

.logo-header-blue {
    width: 100%;
    text-align: center;
    display: none;
}

.box-content {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.tnc-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 85%;
    padding: 5px 0;
    border-radius: 8px;
    gap: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tnc-r {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
}

.tnc-r h1 {
    font-size: 1.3rem;
    opacity: 0.6;
    width: 400px;
    margin-top: 1rem;
}

.ncr-title {
    display: flex;
    align-items: center;
    gap: .4rem;
    margin-top: 0.3rem;
}

.ncr-title h3 {
    margin-top: 0.5rem;
}

.caixa-registros {
    color: black;
    margin-top: 0.3rem;
    background-color: #434343;
    width: 50px;
    height: 50px;
    border-radius: 1rem;
}

.tnc-content p {
    font-size: large;
}


.registros {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    gap: 2rem;
}

.registro-item {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0 5px;
    flex-direction: row;
    border: 2px solid #DADADA;
    align-items: center;
}

.registro-config {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.edit-options {
    display: flex;
    flex-direction: row;
    gap: 0.5rem
}

.caixa-registros2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #434343;
    width: 40px;
    height: 40px;
    border-radius: 1rem;
}

.btn-add {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem;
}

#add-button {
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    color: #6F6F70;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#add-button:hover {
    opacity: 0.8;
}

.icon {
    width: auto;
    height: 25px; 
}

.edit-options img {
    cursor: pointer;
    transition: opacity 0.3s ease; 
}

.edit-options img:hover {
    opacity: 0.7;
}

.editing {
    border: 1px dashed #000;
    padding: 2px;
}



/* Fim Conteúdo da página */

/* Fim Main */