body {
    font-family: Arial, sans-serif; /* Define a fonte padrão da página */
    margin: 0; /* Remove a margem padrão do corpo */
    padding: 0; /* Remove o padding padrão do corpo */
    background-color: #164095; /* Define a cor de fundo da página */
}

/* Estiliza a barra lateral (sidebar) */
.sidebar {
    display: flex; /* Usa Flexbox para layout interno */
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    width: min-content; /* Define a largura mínima necessária para o conteúdo */
    height: 100vh; /* Ocupa toda a altura da viewport */
    position: fixed; /* Fixa o menu na tela, independentemente do scroll */
    font-family: Roboto;
    background-color: #ffffff; /* Define a cor de fundo da barra lateral */
    color: rgb(0, 0, 0); /* Define a cor do texto */
    padding: 22px; /* Adiciona espaçamento interno ao redor do conteúdo */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao lado da barra lateral para destaque */
}

/* Estiliza a imagem de login dentro da barra lateral */
.sidebar h2 {
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o título */
    margin-top: 2rem; /* Adiciona uma margem superior */
}

/* Estiliza a lista de itens na barra lateral */
.sidebar ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão da lista */
    display: flex; /* Usa Flexbox para layout interno */
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: left; /* Centraliza os itens verticalmente */
    align-items: left; /* Centraliza os itens horizontalmente */
    height: 15rem; /* Define a altura da lista */
}

/* Estiliza cada item da lista na barra lateral */
.sidebar ul li {
    display: flex;
    flex-direction: row;
    margin: 15px 0; /* Adiciona margem vertical entre os itens */
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o item */
    transition: transform 0.6s ease; /* Adiciona uma transição suave ao transformar a imagem */
}

/* Adiciona efeito de zoom nas imagens ao passar o mouse sobre elas */
.sidebar ul li:hover {
    transform: scale(1.2); /* Aumenta a escala da imagem para 120% */
}

.sidebar li p {
    margin-left: 1rem;
}

.sidebar li img {
    margin-top: 0.7rem;
}

.content {
    display: flex;
    flex-direction: row;
    margin-left: 12.2rem; /* Margem esquerda para fazer espaço para a barra lateral */
    flex: 1; /* Permite que o contêiner ocupe o espaço restante */
    color: #fff; /* Define a cor do texto */
    background-color: #123A8C;
}

.navegacao-esquerdo {
    display: flex;
    text-wrap: nowrap;
    gap: 1rem;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: left;
    margin-left: 3rem;
}

/* Estiliza o campo de entrada dentro da seção de entrada */
.content label input {
    padding: 8px; /* Adiciona espaçamento interno no input */
    width: 25rem; /* Define a largura do campo do input*/
    margin-top: 0.7rem;
    border-radius: 5rem; /* Arredonda os cantos do input */
    border: none; /* Remove a borda padrão */
}

/* Estiliza o contêiner principal da seção de entrada */
.input-main {
    display: flex;
    margin-top: 10px;
    height: 70%;
    background-color: #fff;
    padding: 1.3vh 10px;
    border-radius: 10px;
    margin-left: 50rem;
}

.input-main input {
    border: none;
    font-size: 1rem;
}
.input-main input::placeholder {
    color: #123A8C;
    font-size: 1rem;
}
.input-main button {
    background-color: transparent;
    border: none;
}
.input-main button:hover {
    cursor: pointer;
}

/* Estilizando o main */


.main-content {
    width: 60rem;
    background-color: #fff;
    padding: 5px 0;
    border-radius: 3px;
    margin-left: 20rem;
}

h1 {
    margin-left: 1rem;
}

.operacoes-dos-status {
    width: 95%;
    border: 1px solid #D8D8D8;
    margin: auto;
}

.item-status {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-top: 1px solid #D8D8D8;
}

.agrupamento-esquerdo-status {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-status>p {
    background-color: #0D3688;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.manipular-status {
    display: flex;
    justify-content: flex-end;
    margin: 10px 1rem;
    gap: 5px;
}