@media only screen and (max-width: 1045px) {

    /* Faz a barra lateral branca ficar sem largura e a área central azul ocupar todo o espaço da tela */
    header {
        width: 0%;
    }

    /* Faz a barra lateral branca ficar sem largura e a área central azul ocupar todo o espaço da tela */
    main {
        width: 100%;
        height: 100%;
    }

    /* Faz aparecer o logo azul do topo */
    .logo-header-blue {
        display: block;
    }

    /* Faz sumir a barra de navegação do topo */
    .content {
        display: none;
    }

    /* Faz desaparecer os rótulos do menu lateral */
    .side-label {
        display: none;
    }

    /* Faz a barra lateral aparecer emabixo da tela */
    .sidebar {
        flex-direction: row;
        justify-content: center;
        align-items: start;
        bottom: 0;
        height: 60px;
        width: 100%;
        z-index: 10;
    }

    /* Faz desaparecer o logo do fundo branco */
    .sidebar h2 {
        display: none;
    }

    /* Faz os itens do sidebar ficarem horizontalmente */
    .sidebar ul {
        flex-direction: row;
    }

}

@media only screen and (max-width: 814px) {
    .logo-header-blue {
        display: flex;
        justify-content: center;
        height: 90px;
    }

    .usercontainer {
        width: 95%;
    }

    .container {
        width: 95%;
    }
    
}

@media only screen and (max-width: 584px) {
    .usercontainer p {
        font-size: 11px;
        width: 300px;
    }

    .usercontainer img {
        width: 120px;
        height: 120px;
        margin-left: 0.5rem;
    }

    .config img {
        width: 20px;
        height: 20px;
    }

    .tab p {
        font-size: 13.5px;
    }

    .config {
        margin-left: 0;
        margin-right: 5px;
        margin-bottom: 10rem;
    }
}