body {
    width: 100vw;
    display: flex;
    background-color: #164095; 
}

/* Header */

/* Side Bar */

header {
    width: 15%;
    height: 100vh;
}

.sidebar {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 15%; 
    height: 100vh; 
    position: fixed; 
    background-color: #fff; 
    gap: 1.5rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); 
}

.sidebar h2 {
    cursor: pointer; 
    margin-top: 2rem; 
}

/* Estiliza a lista de itens na barra lateral */
.sidebar ul { 
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0;
}

/* Estiliza cada item da lista na barra lateral */
.sidebar ul li {
    display: flex;
    cursor: pointer; 
    justify-content: flex-start;
    transition: transform 0.6s ease; 
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar ul li:hover {
    transform: scale(1.2); 
}

/* Fim SideBar */

/* Fim Header */


/* Main */

main {
    width: 85%;
    height: 100vh;
}

/* Barra Superior */

.content {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    border-bottom: 2px solid #fff;
    padding-left: 5rem;
    gap: 1rem;
    color: #fff; 
    background-color: #123A8C;
}

.casa {
    opacity: 0.6;
}

.content a {
    color: #fff;
}

.vertical-bar {
    width: 2px; 
    height: 22px; 
    background-color: white; 
    margin: 0 10px; 
    transform: rotate(28deg); 
}

/* Fim Barra superior */

/* Conteúdo da página */

.box-content {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.departments-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 85%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

/* Estiliza o título de departamentos */
h1 {
    color: #979797;
    margin-left: 1rem;
    margin-top: .5rem;
}

/* Estiliza a tabela de departamentos */
.departments-table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    
}

.departments-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    font-size: 1.2rem;
    color: #333;
}

.departments-table td i {
    cursor: pointer;
    color: #123A8C;
    margin-left: -1rem;
}

.departments-table td i:hover {
    color: #0d6efd; /* Muda a cor ao passar o mouse sobre o ícone */
}

/* Botão para adicionar novo departamento */
.btn-box {
    display: flex;
    justify-content: flex-end;
}

.add-department-btn {
    width: 15rem;
    height: 3rem;
    margin: 1rem;
    font-weight: bold;
    background-color: #D9D9D9;
    color: #6F6F70;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.add-department-btn:hover {
    background-color: #e9e9e9; /* Muda a cor ao passar o mouse */
}

