body {
    width: 100vw;
    display: flex;
    background-color: #164095; 
}

/* Header */

/* Side Bar */

header {
    width: 15%;
    height: 100vh;
}

.sidebar {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 15%; 
    height: 100vh; 
    position: fixed; 
    background-color: #fff; 
    gap: 1.5rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); 
}

.sidebar h2 {
    cursor: pointer; 
    margin-top: 2rem; 
}

/* Estiliza a lista de itens na barra lateral */
.sidebar ul { 
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0;
}

/* Estiliza cada item da lista na barra lateral */
.sidebar ul li {
    display: flex;
    cursor: pointer; 
    justify-content: flex-start;
    transition: transform 0.6s ease; 
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar ul li:hover {
    transform: scale(1.2); 
}

/* Fim SideBar */

/* Fim Header */


/* Main */

main {
    width: 85%;
    height: 100vh;
}

/* Barra Superior */

.content {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    border-bottom: 2px solid #fff;
    padding-left: 5rem;
    gap: 1rem;
    color: #fff; 
    background-color: #123A8C;
}

.content img {
    opacity: 0.6;
}

.content a {
    color: #fff;
}

.vertical-bar {
    width: 2px; 
    height: 22px; 
    background-color: white; 
    margin: 0 10px; 
    transform: rotate(28deg); 
}

/* Fim Barra superior */

/* Conteúdo da página */


.box-content {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.edt-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 85%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.edt-content h1 {
    font-size: 1.3rem;
    color: #979797;
    width: 400px;
    margin-top: 1rem;
    padding: .6rem 2rem;
}

.edt-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 2rem;
    font-size: large;
    margin: auto;
    margin-bottom: 2rem;
}

.edt-item {
    width: 100%;
    border: 2px solid #DADADA;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 5px;
    gap: 1rem;
    transition: background-color 0.3s; /* Transição suave */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
}

.edt-item:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.edt-item p{
    margin-left: 0.5rem;
}

.edt-grau {
    border: 2px solid #DADADA;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 85rem;
}

.edt-grau p{
    margin-left: 15px;
}

.edt-grau .edit {
    margin-left: 70.9rem;
}

.edt-status {
    border: 2px solid #DADADA;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 85rem;
}

.edt-status p{
    margin-left: 15px;
}

.edt-status .edit{
    margin-left: 77.9rem;
}


