body {
    font-family: "Roboto", sans-serif; /* Define a fonte padrão da página */
    margin: 0; /* Remove a margem padrão do corpo */
    padding: 0; /* Remove o padding padrão do corpo */
    background-color: #164095; /* Define a cor de fundo da página */
}

/* Estiliza a barra lateral (sidebar) */
.sidebar {
    display: flex; /* Usa Flexbox para layout interno */
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    width: min-content; /* Define a largura mínima necessária para o conteúdo */
    height: 100vh; /* Ocupa toda a altura da viewport */
    position: fixed; /* Fixa o menu na tela, independentemente do scroll */
    background-color: #ffffff; /* Define a cor de fundo da barra lateral */
    color: rgb(0, 0, 0); /* Define a cor do texto */
    padding: 22px; /* Adiciona espaçamento interno ao redor do conteúdo */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao lado da barra lateral para destaque */
}

/* Estiliza a imagem de login dentro da barra lateral */
.sidebar h2 {
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o título */
    margin-top: 2rem; /* Adiciona uma margem superior */
}

/* Estiliza a lista de itens na barra lateral */
.sidebar ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão da lista */
    display: flex; /* Usa Flexbox para layout interno */
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: left; /* Centraliza os itens verticalmente */
    align-items: left; /* Centraliza os itens horizontalmente */
    height: 15rem; /* Define a altura da lista */
}

/* Estiliza cada item da lista na barra lateral */
.sidebar ul li {
    display: flex;
    flex-direction: row;
    margin: 15px 0; /* Adiciona margem vertical entre os itens */
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o item */
}

/* Estiliza as imagens dentro dos itens da lista */
.sidebar ul li {
    transition: transform 0.6s ease; /* Adiciona uma transição suave ao transformar a imagem */
}

/* Adiciona efeito de zoom nas imagens ao passar o mouse sobre elas */
.sidebar ul li:hover {
    transform: scale(1.2); /* Aumenta a escala da imagem para 120% */
}

.sidebar li p {
    display: flex;
    margin-left: 1rem;
}

.sidebar li img {
    display: flex;
    margin-top: 0.7rem;
}

.content {
    display: flex;
    flex-direction: row;
    margin-left: 12.2rem; /* Margem esquerda para fazer espaço para a barra lateral */
    flex: 1; /* Permite que o contêiner ocupe o espaço restante */
    color: #fff; /* Define a cor do texto */
    background-color: #123A8C;
}

.caixa {
    display: flex;
    flex-direction: row;
    gap: 50PX;
}


.home {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: left;
    margin-left: 10rem;
    opacity: 0.6;
}

.home h3 {
    margin-left: 1rem;
}

.editar {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: left;
    margin-left: 3rem;
    opacity: 0.6;
}

.editar h3 {
    margin-left: 1rem;
}

.editar img {
    margin-bottom: 4px;
}

.tnc-menu {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: left;
    margin-left: 2rem;
}

.tnc-menu h3 {
    margin-left: 1rem;
}


/* Estiliza o campo de entrada dentro da seção de entrada */
.content label input {
    padding: 8px; /* Adiciona espaçamento interno no input */
    width: 25rem; /* Define a largura do campo do input*/
    margin-top: 0.7rem;
    border-radius: 5rem; /* Arredonda os cantos do input */
    border: none; /* Remove a borda padrão */
}

/* Estiliza o contêiner principal da seção de entrada */
.input-main {
    margin-left: 20rem; /* Margem à esquerda para espaçamento */
    display: flex;
    flex-direction: row;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vh;
    margin-left: 2rem;
    margin-bottom: 0.4rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    cursor: pointer;
}

.box {
    font-size: 2rem;
    font-family: Roboto,'Open Sans';
    color: #A8A6A6;
}

/*Main*/

.tnc {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
    margin-left: 7rem;
}

.tnc-content {
    flex-direction: column; 
    display: flex;
    background-color: white;
    width: 80rem;
    height: 50rem;
    border-radius: 1rem;
    gap: 2rem;
}

.tnc-r {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    gap: 12rem;
}

#tnc-title {
    opacity: 0.6;
}

.ncr-title {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.4rem;
}

.tnc-content p{
    font-size: large;
}

.caixa-registros {
    color: black;
    margin-top: 0.3rem;
    background-color: #434343;
    width: 50px;
    height: 50px;
    border-radius: 1rem;

}

.registros {
    flex-direction: column;
    display: flex;
    margin-left: 2rem;
    gap: 3rem;
}

.registro-seguranca {
    display: flex;
    width: 74.7rem;
    height: 3rem;
    padding: 10px;
    flex-direction: row;
    gap: 61.8rem;
    border: 2px solid #DADADA;
    align-items: center;
}

.registro-qualidade {
    display: flex;
    width: 74.7rem;
    height: 3rem;
    padding: 10px;
    gap: 62.1rem;
    border: 2px solid #DADADA;
    align-items: center;
}

.registro-legal {
    display: flex;
    width: 74.7rem;
    height: 3rem;
    padding: 10px;
    gap: 57rem;
    border: 2px solid #DADADA;
    align-items: center;
}

.registro-config {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.edit-options {
    display: flex;
    flex-direction: row;
    gap: 0.5rem
}

.caixa-registros2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #434343;
    width: 40px;
    height: 40px;
    border-radius: 1rem;
}

.caixa-registros2 p {
    align-items: center;
    color: white;
    font: bold;
}

#add-button {
        font-family: "Roboto", sans-serif;
        width: 15rem;
        height: 3rem;
        border-radius: 1rem;
        color: #6F6F70;
        background-color: #D9D9D9;
        border: none;
        cursor: pointer;
        font-weight: bold;
        margin-top: 18rem;
        margin-left:64rem;
    }
    
    #add-button:hover {
        opacity: 0.8;
    }




